<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ Titulo }}</title>
    <link rel="stylesheet" href="static/estilo.css">
</head>
<body>
    <div class="volei-card">
      <div class="page-header">
          <h1>{{ Titulo }}</h1>
      </div>
      <form action="/criar" method="post">
        <fieldset>
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control">
          </div>
          <div class="form-group">
            <label for="idade">Idade</label>
            <input type="text" id="idade" name="idade" class="form-control">
          </div>
          <div class="form-group">
            <label for="posicaoJogo">Posição de jogo</label>
            <input type="text" id="posicaoJogo" name="posicaoJogo" class="form-control">
          </div>
           <div class="form-group">
            <label for="nivelExperiencia">Nível de experiência</label>
            <input type="text" id="nivelExperiencia" name="nivelExperiencia" class="form-control">
          </div>
            <div class="form-group">
            <label for="cidadeEestado">Cidade/Estado</label>
            <input type="text" id="cidadeEestado" name="cidadeEestado" class="form-control">
          </div>
            <div class="form-group">
            <label for="dias">Dias</label>
            <input type="text" id="dias" name="dias" class="form-control">
          </div>
            <div class="form-group">
            <label for="horarios">Horário</label>
            <input type="text" id="horarios" name="horarios" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
        </fieldset>
      </form>
    </div>
</body>
</html>